* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
}
.outer-box {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
}
.inner-box {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    /* background-color: #ffffff09; */
    background: linear-gradient(to top left ,#ffffffff,#ffffff33);
    backdrop-filter:blure(8px);
    border-radius: 20px;
    box-shadow:2px 2px 15px #2773a5 ;
    z-index: 2;
}
.signup-head h1 {
    font-size: 2.2rem;
    color: #212121;
}
.signup-head p {
    font-size: 0.9rem;
    color: #555;
}
.signup-body {
    margin: 20px 0px;
}
.signup-body p {
    margin: 10px 0px;
}
.signup-body p label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}
.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
.signup-body p input[type="submit"] {
    background-color: #3894b3;
    color: white;
    border: none;
    cursor: pointer;
}
.signup-body p input[type="submit"]{
    background-color: #317a93;
    border: none;
    color: white;
    cursor: pointer;
}
.signup-body p input[type="submit"]:hover{
    background-color: #3ed8ff;
}
.signup-footer p {
    color: #555;
    text-align: center;
}
.signup-footer p a{
    color:#2773a5;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background:linear-gradient(to top right,#ffffffa3,#ffffffa3);
    position: absolute;
}
.c1{
    top:200px;
    left: 100px;
}
.c2{
    bottom: 200px;
    right: 40px;
}

